.searchBar {
    /* background-image: url(https://fondosmil.com/fondo/24186.jpg); */
    background-color:orange;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;


    
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recipeList{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left:  120px;
    margin-right: 120px;
    width:75%;
    padding:0 6px;
   
}


.button-search {
    background-color: rgb(121, 26, 26);
    color: orange;
}

.button-reset {
    background-color: rgb(121, 26, 26);
    color: orange;
    height: 20px;
    width: 80px;
    margin-bottom: 7px;
}

.button-previous {
    background-color: rgb(121, 26, 26);
    color: orange;
}

.button-next {
    background-color: rgb(121, 26, 26);
    color:orange;
}






